<section class="product-information-faqs">
  <div class="product-information__heading">
    <h3 class="product-information__title">
      {{section.settings.title}}
    </h3>
    <div class="product-information__button-wrapper medium-down--hide"></div>
  </div>
  <div class="product-information__content">{{ product.metafields.meta_info.product_information | metafield_tag | remove: '<div class="metafield-rich_text_field">' | remove_last: '</div>' }}</div>
</section>

{% schema %}
  {
    "name":"Product Info and FAQs",
    "settings":[
      {
        "type": "header",
        "content": "Title"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Product Information"
      }
    ],
    "presets":[
      {
        "name":"Product Info and FAQs"
      }
    ],
    "templates":["product"]
  }
{% endschema %}